.slideIn {
    animation: animateIn cubic-bezier(0.18, 0.89, 0.35, 1.15) 0.7s 1;
    opacity: 0;
}

@for $i from 1 through 4 {
    .slideIn:nth-of-type(#{$i}) {
        animation-delay: 200ms * $i;
        /* background-color: green;*/
    }
}

@keyframes animateIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
