/* @use 'custom-properties';*/

/* begin digit styles*/
svg {
    width: 100%;
    height: 100%;
    .arm {
        fill: var(--inactive-color);
    }
    &.num-1 {
        .arm {
            &[data-arm-id='arm2'] {
                fill: var(--active-color);
            }
            &[data-arm-id='arm3'] {
                fill: var(--active-color);
            }
        }
    }
    &.num-2 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm3'],
            &[data-arm-id='arm6'] {
                fill: var(--inactive-color);
            }
        }
    }
    &.num-3 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm6'],
            &[data-arm-id='arm5'] {
                fill: var(--inactive-color);
            }
        }
    }
    &.num-4 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm1'],
            &[data-arm-id='arm4'],
            &[data-arm-id='arm5'] {
                fill: var(--inactive-color);
            }
        }
    }
    &.num-5 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm2'],
            &[data-arm-id='arm5'] {
                fill: var(--inactive-color);
            }
        }
    }
    &.num-6 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm2'] {
                fill: var(--inactive-color);
            }
        }
    }
    &.num-7 {
        .arm {
            &[data-arm-id='arm1'],
            &[data-arm-id='arm2'],
            &[data-arm-id='arm3'] {
                fill: var(--active-color);
            }
        }
    }

    &.num-8 {
        .arm {
            fill: var(--active-color);
        }
    }

    &.num-9 {
        .arm {
            fill: var(--active-color);

            &[data-arm-id='arm5'] {
                fill: var(--inactive-color);
            }
        }
    }

    &.num-0 {
        .arm {
            fill: var(--active-color);
            &[data-arm-id='arm7'] {
                fill: var(--inactive-color);
            }
        }
    }
}
