input,
textarea {
    background: var(--bg-color);
    border: 1px solid var(--active-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    /* background: #282c31;*/
    /* border-top: 1px solid #010101;*/
    /* border-bottom: 1px solid #262930;*/
    /* box-shadow: 0px 0px 0px 1px rgb(27, 27, 27);*/
    color: var(--active-color);
    font-size: 1rem;
    font-weight: 400;
    height: var(--input-height);
    padding: 0 1rem;
    transform: skew(-0.12rad);
    transition: 0.8s cubic-bezier(0.18, 0.89, 0.35, 1.15) box-shadow;
    width: 100%;
    /* box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);*/
    /* -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);*/
    /* background: rgb(56, 61, 69);*/
    /* background: linear-gradient(*/
    /*     180deg,*/
    /*     rgba(56, 61, 69, 1) 0%,*/
    /*     rgba(45, 49, 56, 1) 92%*/
    /* );*/
    &:active,
    &:focus {
        box-shadow: inset 0px 0px 0px 2px #285fb1;
    }
    div {
        transform: skew(0.12rad);
    }
}
textarea {
    height: calc(var(--input-height) * 2);
    padding: 1rem;
}

.settings {
    color: var(--active-color);
    max-width: 1048px;
    h2 {
        border-bottom: 1px solid var(--active-color);
        padding-bottom: 1rem;
    }
    .columns {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        justify-content: center;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .weather-settings,
    .clock-settings {
        margin-top: 6rem;
    }
    .toggle {
        display: flex;
        gap: 3rem;
        height: 100px;
        position: relative;
        width: auto;
        &-bg {
            background: var(--bg-color-color);
            background-color: #fcebeb;
            border: 1px solid var(--active-color);
            /* border-radius: 100vw;*/
            border-radius: var(--border-radius);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: skew(-0.12rad);
            transition: 0.8s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
            width: 100%;
            z-index: 1;
            /* border-top: 1px solid #010101;*/
            /* border-bottom: 1px solid #262930;*/
            /* background: rgb(56, 61, 69);*/
            /* background: linear-gradient(*/
            /*     180deg,*/
            /*     rgb(56, 61, 69) 0%,*/
            /*     rgb(36, 40, 44) 57%,*/
            /*     rgb(32, 35, 42) 96%*/
            /* );*/
            /* box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);*/
            /* -webkit-box-shadow: 0px 0px 0px 1px rgb(27, 27, 27);*/
        }
    }
    .checkbox {
        cursor: pointer;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 3;
        &-container {
            height: calc(var(--input-height) - 3px);
            margin: -20px auto 0 auto;
            position: relative;
            text-align: center;
            top: 50%;
            width: 94px;
        }
    }
    .field-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 2rem 0 2rem;
        position: relative;

        input,
        textarea {
            &:focus {
                ~ label {
                    color: var(--bg-color-color);
                    transform: translatey(-0.3rem);
                }
            }
        }
        label {
            background: var(--bg-color);
            /* color: #939aa1;*/
            color: var(--active-color-dark);
            font-size: 0.9rem;
            font-size: 0.8rem;
            font-weight: 400;
            left: 1rem;
            padding: 0.5rem 0.4rem;
            position: absolute;
            top: -1rem;
            transition: 0.8s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
        }
    }
    .toggle {
        label {
            align-self: center;
        }
    }
}
.checkbox-container {
    .knobs {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: skew(-0.12rad);
        z-index: 2;
        &::before {
            background-image: radial-gradient(
                100% 100% at 44% 0%,
                #9cb0cc 0%,
                #767f86 100%
            );
            background-position: 0px 0px;
            background-size: 100% 100%;
            border-radius: calc(var(--border-radius) - 2px);
            -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
            color: white;
            content: '';
            font-size: 1rem;
            font-weight: 400;
            height: 20px;
            left: 4px;
            line-height: 1.3;
            padding: 9px 4px;
            position: absolute;
            text-align: center;
            top: 4px;
            transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
            width: 30px;
        }
    }
}
.checkbox:checked ~ .knobs::before {
    background-color: white !important;
    background-image: radial-gradient(
        100% 100% at 44% 0%,
        #ececec 0%,
        #cbcbcb 100%
    );
    background-position: 0px 0px;
    background-size: 100% 100%;
    color: black;
    content: '';
    left: 52px;
}
.checkbox:checked ~ .toggle-bg {
    background: linear-gradient(
        180deg,
        rgb(61, 109, 191) 0%,
        rgb(7, 75, 157) 57%,
        rgb(30, 57, 123) 96%
    );
    background-color: #074a9c;
}
