/* @use 'custom-properties';*/

body {
    background: var(--bg-color);
}
main {
    display: flex;
    height: 100vh;
    margin: 0 5%;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-inline: auto;
}

.clock-container {
    display: grid;
    gap: 33% 0%;
    grid-template-areas:
        'antePost clock-face'
        'antePost clock-meta';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.clock-face {
    display: flex;
    align-self: start;
    flex-direction: row;
    gap: 10%;
    grid-area: clock-face;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    max-width: var(--clock-face-width);
    section {
        display: flex;
        position: relative;
        &:not(:last-of-type):after {
            content: '';
            position: absolute;
            right: -1rem;
            bottom: 0;
            width: 1vw;
            height: 1vw;
            background: var(--active-color);
            border-radius: 0.2rem;
        }
    }
}

.clock-meta-container {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gutter);
    grid-area: clock-meta;
    justify-content: space-between;
    section {
        display: grid;
        width: 15%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* max-width: 60px;*/
        svg {
            display: block;
            max-width: calc(var(--clock-face-width) / 15);
        }
        .meta-title {
            color: var(--active-color);
            font-size: clamp(1.2rem, 2.2vw, 3rem);
            font-weight: var(--font-bold);
            grid-column-end: 4;
            grid-column-start: 1;
            margin-top: 35%;
            text-align: center;
            text-transform: capitalize;
        }
    }
}

.am-pm {
    display: flex;
    align-self: start;
    flex-direction: column;
    grid-area: antePost;
    max-width: 150px;
    svg {
        display: block;
        height: auto;
        fill: var(--inactive-color);
        margin-bottom: 1rem;
        max-width: var(--am-pm-letters-width);
        &.its-pm,
        &.its-am {
            fill: var(--active-color);
        }
    }
}
