.weather {
    color: var(--active-color);
    display: flex;
    flex-direction: column;
    /* padding: 3rem;*/
    margin: 6rem;
    opacity: 0;
    position: relative;
    /* gap: 0.5rem;*/
    text-align: center;

    &.show {
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
    }
    .icon,
    .temp {
        display: flex;
        justify-content: center;
    }
    .location-title {
        font-size: 2.4rem;
        font-weight: 400;
    }
    .icon {
        font-size: 1rem;
        position: absolute;
        right: 1rem;
        top: 4rem;

        /* margin: 0.5rem;*/
    }
    .temp {
        font-size: 4.5rem;
        font-weight: 200;
        position: relative;
        i {
            font-size: 2.3rem;
            left: 0;
            /* margin-right: 0.3rem;*/
            margin-top: 1.4rem;
            position: absolute;
        }
    }
    .description {
        font-size: 2rem;
        font-weight: 400;
        text-transform: capitalize;
    }
}
.lds-ring {
    display: block;
    height: 212px;
    height: 80px;
    margin: 0 auto;
    margin-top: 8rem;
    opacity: 1;
    position: relative;
    transition: opacity 1s ease-in-out;
    width: 80px;
    &.hidden {
        display: none;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}
.lds-ring div {
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 8px solid #fff;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 64px;
    margin: 8px;
    position: absolute;
    width: 64px;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
